/* Navbar */

.navbar {
  width: 100%;
  background-color: whitesmoke;
  border-bottom: 1px solid;
}

.headerr {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 40px;
  height: 50px;
  background-color: #3a3a3a;
  color: white;

  height: 70px;
}

.logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 45px;
  height: 45px;
}

.nav-options {
  padding-left: 25px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
}

.mobile-option {
  display: none;
}

.option {
  width: 25%;
}

.mobile-menu {
  display: none;
}

.option-three {
  display: flex;
}

.option-three ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option-three ul li {
  padding: 20px 28px;
  list-style: none;
  font-size: 16px;
  line-break: auto;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.option-three ul li:hover {
  background-color: rgb(234, 114, 61);
  color: white;
  padding: 22px 32px;
}

.nav_btn {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  border-radius: 15px;
  display: block;
}

.custom-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  color: #fff;
  border-radius: 3px;
  padding: 10px 25px;
  font-weight: 500;
  font-size: 16px;
  background: #1EA69A;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  margin: 12px;
  border: none;
  border-radius: 5px;
}



.signout{
    padding: 20px;
    background-color: #1EA69A;
    color: white;
    cursor: pointer;
}

/* Card */

.card_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: none;
}

.card-container {
  width: 100%;
  max-width: 400px;
  margin: 2em auto;

  border-radius: 15px;
  margin-bottom: 1rem;
  padding: 2rem;
}

.hero-image-container::after {
  content: "";
  background-image: url("https://i.postimg.cc/9MtT4GZY/view.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 5rem;
  background-color: hsla(178, 100%, 50%, 0.3);
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.hero-image-container:hover::after {
  opacity: 1;
}

.card-container img {
  height: 370px;
}

.rent {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.flex_detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

a.hero-image-container {
  position: relative;
  display: block;
}

.text {
  text-align: center;
  margin-top: 50px;
  padding: 5px;
  word-spacing: 2px;
}

.card-bttn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.talk {
  background-color: black;
  border: none;
  padding: 10px 22px;
  color: white;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}

.share {
  background-color: grey;
  border: none;
  padding: 10px 15px;
  color: white;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}

/* section  */

.center{
    text-align: center;
    padding: 8px;
}

.third {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20rem;
}

.banner {
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}

.set {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.bannertext {
  text-align: center;
}

.help{
    text-align: center;
   min-height: 350px;
    width: 100vw;
    background-color: #1EA69A;
    color: white;
   
}

.help_detail{
    position: relative;
    top: 100px;
}

.help_detail h1{
    color: white;
}
.btn1{
    margin-top: 15px;
    padding: 12px 18px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}
.btn2{
    padding: 12px 28px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

.btn1:hover{
    background-color: #3a3a3a;
}
.btn2:hover{
    background-color: wheat;
}
/* Footer  */

.cont {
    max-width: 1170px;
    margin: auto;
}

.row-one {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(234, 114, 61);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 12px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.social-links {
    display: flex;
}

.footer-col .social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #1EA69A;
}

